<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %} Samplesite {% endblock title %}</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="static/css/alertify.core.css"/>
    <link rel="stylesheet" href="static/css/alertify.bootstrap.css" id="toggleCSS"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="static/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/alertify.min.js"></script>

    {% block head %}
    {% endblock head %}

</head>
<body>

<div class="container" style="padding-top:50px;">
    {% block content %}
    {% endblock %}
</div>
<div class="container">
    <hr>
    <footer>
        <p>&copy; 2017 Lazarevski</p>
    </footer>
</div>

{% if alertify and alertify != "" %}
<script>
    alertify.alert("{{alertify}}");
</script>
{% endif %}


<script>
    $(document).on('focusin', function (e) {
        if ($(e.target).closest(".mce-window, .moxman-window").length) {
            e.stopImmediatePropagation();
        }
    });
</script>
</body>
</html>